* {
    box-sizing: border-box;
}

.container-box {
    width: 95%;
    height: 100vh;
    margin: auto;
    /* background-color: lightcyan */
}

.content-header {
    height: 20vh;
    background-color: black;
}

.logo {
    height: 15vh;
    background-color: white;
}

.navbox {
    height: 5vh;
    background-color: rgb(129, 216, 208);
}

.footer {
    height: 5vh;
    background-color: rgb(129, 216, 208);
}

.content {
    height: 40vh;;
}

.content-admin{

    height: 70vh;;
}

.content-box {
    height: 60vh;;
}

.banner{
    background-color:lightblue ;
}

.rings {
    background-color: lightseagreen;
}

.classic {
    background-color: lightpink;
}

.focus{
background-color: lightsalmon;
}

.stroies {
    background-color: lightgoldenrodyellow;
}

.contactus {
    background-color: lightslategray;
}

/* 導航連結的基本樣式 */
.navlink {
    position: relative;
    display: inline-block;
    text-decoration: none; /* 移除預設底線 */
    color: #000; /* 設定文字顏色 */
    padding: 5px 0; /* 給連結一些內邊距 */
  }
  
  /* 定義偽元素並設置底線的初始狀態 */
  .navlink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  rgb(129, 216, 208); /* 底線顏色 */
    transition: width 0.3s ease-in-out; /* 添加動畫效果 */
  }
  
  /* 當滑鼠懸停時，擴展底線的寬度 */
  .navlink:hover::after {
    width: 100%;
  }