* {
    box-sizing: border-box;
}

.container-box {
    width: 95%;
    /* height: 500vh; */
    margin: auto;
    /* background-color: lightcyan */
}

.content-header {
    height: 15vh;
    /* background-color: black; */
}

.logo {
    height: 10vh;
    background-color: azure;
}

.nav {
    height: 5vh;
    background-color: rgb(129, 216, 208);
}

.footer {
    height: 5vh;
    background-color: rgb(129, 216, 208);
}

.content {
    height: 40vh;
}

.banner {
    background-color: lightblue;
}

.rings {
    background-color: lightseagreen;
}

.classic {
    background-color: lightpink;
}

.focus {
    background-color: lightsalmon;
}

.stroies {
    background-color: lightgoldenrodyellow;
}

.contactus {
    background-color: lightslategray;
}

/* admin css */
.content-admin {
    height: 80vh;
    /* background-color: blueviolet; */
}

.admin-main {
    width: 100%;
    height: 80vh;
    /* background-color: rgb(129, 216, 208); */
}

.admin-footer,.add-header {
    width: 100%;
    height: 3px;
    background-color: rgb(129, 216, 208);
}


/* 導航連結的基本樣式 */
.navlink {
    position: relative;
    display: inline-block;
    text-decoration: none;
    /* 移除預設底線 */
    color: #000;
    /* 設定文字顏色 */
    padding: 5px 0;
    /* 給連結一些內邊距 */
}

/* 定義偽元素並設置底線的初始狀態 */
.navlink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(129, 216, 208);
    /* 底線顏色 */
    transition: width 0.3s ease-in-out;
    /* 添加動畫效果 */
}

/* 當滑鼠懸停時，擴展底線的寬度 */
.navlink:hover::after {
    width: 100%;
}

.backend-box {
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 10px;
}

.backend-logo {
    /* background-color: rgb(129, 216, 208); */
    /* width: 80%; */
    height: 5vh;
    margin: auto;
    margin-top: 10px;
}

button > img {

        width: 32px;
        height: 32px;

}

td.tvalign {
    
    text-align: center;
    vertical-align: middle;

}